:root {
    --letter-spacing: 1.5px;
    --font-family: "Satoshi", sans-serif;
}

@font-face {
    font-family: "Satoshi";
    src: url("../fonts/Satoshi-Medium.woff2") format("woff2");
}

/* Root */
.clocktower_brand {
    font-family: var(--font-family); 
    letter-spacing: var(--letter-spacing);
}

.account_button {
    font-family: var(--font-family); 
    letter-spacing: var(--letter-spacing);
    margin: 5px; 
    margin-left: 100px;
}

.subscriptions_button {
    font-family: var(--font-family); 
    letter-spacing: var(--letter-spacing);
    margin: 5px; 
    margin-left: 5px;
}

.calendar_button {
    font-family: var(--font-family); 
    letter-spacing: var(--letter-spacing);
    margin: 5px;
}

.wallet_button {
    font-family: var(--font-family); 
    letter-spacing: var(--letter-spacing);
}

.account_text_nav {
    font-family: var(--font-family); 
    letter-spacing: var(--letter-spacing);
}

.wallet_modal {
    font-family: var(--font-family); 
    letter-spacing: var(--letter-spacing);
}

.connect_wallet_alert {
    font-family: var(--font-family); 
    letter-spacing: var(--letter-spacing);
}
.tester {
    background-color: #425169;
    height: 100%;
}

.navbar {
    height: 75px;
}

/* Subscriptions Route */

.top_level_subscriptions_route {
    font-family: var(--font-family); 
    letter-spacing: var(--letter-spacing);
}

.subs_header_route {
    display: flex; 
    justify-content: center; 
    align-content: center; 
    margin: 5px; 
    padding-top: 10px;
    font-size: 20px;
}

.subs_topline_route {
    margin-bottom: 25px;
}

.subs_table_card_button_route {
    padding-left: 20px;
    padding-bottom: 20px;
}

.subs_table_route {
    padding-left: 10px;
    padding-right: 20px;
}

.top_level_create_sub {
    font-family: var(--font-family); 
    letter-spacing: var(--letter-spacing);
}

.dropdown_toggle_create_sub {
    width: 100%; 
    color: black; 
    background-color: white; 
    text-align: left;
}

.dropdown_menu_create_sub {
    width: 100%;
}

.substable {
    vertical-align: middle;
}

.tablerow {
    vertical-align: middle;
}

.subsmodal {
    font-family: var(--font-family); 
    letter-spacing: var(--letter-spacing);
}

/* History */

.history_table {
    font-family: var(--font-family); 
    letter-spacing: var(--letter-spacing);
}

/* Alerts */ 
.alerts {
    font-family: var(--font-family); 
    letter-spacing: var(--letter-spacing);
}
