.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .clockNav {
    display: flex;
    flex-direction: row;
  }
  
  .clockNav2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /*align-items: right;*/
  }
  
  .clockMeta {
    display: flex;
    flex-direction: column;
  }
  
  .alertDiv {
    background: yellow;
    margin-bottom: -20px;
    background-color: gray;
  }
  
  .clockBody {
    
    /*
    display: flex;
    flex-direction: column;
    */
    width: 100vw;
  }
  
  .clockFormDiv {
    display:flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: gray;
  }
  
  .clockTableDiv {
    display: flex;
    justify-content: center;
  }
  
  .clockTable {
    
    width: 100%;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
  }
  
  .publicSub {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 20px;
  }
  
  .provHistory {
    margin-top: 20px;
  }
  
  .subTable {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .sideNav {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
  }
  
  .sideNav2 {
    background-color: #282c34;
    min-height: 100vh;
    align-items: center;
    align-content: start;
    justify-content: center;
    font-size: calc(5px + 2vmin);
    color: white;
    width: 15%;
  }
  
  .topDiv {
    display: flex;
    flex-direction: column;
  }
  
  .mainDiv {
    width: 100%;
  }
  
  .navBar {
    flex-grow: 1;
  }
  
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  